
/*
    Color picker website:  https://imagecolorpicker.com/en
*/

body{
    background: linear-gradient(to bottom right,#506d96  0%, #8a4571 100%);
}

/**
Photo by <a href="https://unsplash.com/@anasalshanti?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Anas Alshanti</a> on <a href="https://unsplash.com/@thierryklougbo/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  */
.headdiv{
    background-image: url("../images/homepage2.jpg");
}

/*Header*/
.h1{
    align-self: center;
}

/*Inhoud*/
.grid-container1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55% 50%;
    grid-template-areas:
    'Who What'
    'dunno think';
    height: 100vh;
    width: 90%;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 3em;

}

.whoIAm{
    grid-area: Who;
    margin-right: 0.5em;
    background-color: #f6d2f3;
}
.card-img-top{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.whatIsThis{
    grid-area: What;
    padding-left: 1.5em;
    margin-left: 0.5em;
    background-color: #f6d2f3;
}
.card-body{
    background-color: black;
}
.card-title{
    color: white;
}
.card-text{
    color: white;
}

